/*********************************Tag Selectors*********************************/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}








/*********************************Class Selectors*******************************/
.container-fluid {
  padding: 3% 15% 7%;
}

/*Navtigation Bar*/

.navbar {
 padding: 0 0 4.5rem;
 margin: 0 -188px;


}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image / title*/

.Title {
 margin-top: -70px;
}


.phone-dog {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 14%;

}

/* Features */

#features {

  display: block;
  background-color: #fff;
  position: relative;
  z-index: 1;

}

.features {

  position: relative;

}

.icon {
  width: 100%;
  height: auto;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.features-col {
  padding: 5%;
  text-align: center;
  margin: 0 auto;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {

  background-color: #ef8172;
  text-align: center;
  color: #fff;


}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;

}

.press-img {
  width: 15%;
  margin: 20px 15px 90px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

/* Call to Action  */

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.cta-button {
  margin:  45px 20px;
}

/* Footer */

#footer {
  text-align: center;
  padding: 7% 0;
}

.footer-fa {
  margin: 0 9px 25px;
}





/* Media Query */

@media (max-width: 993px) {

  #title {
    text-align: center;
  }

  .phone-dog {

    transform: rotate(0deg);
    position: static;
    width: 60%;


  }

}

/*********************************Id Selectors**********************************/
#title {
  background-color: #ff4c68;
  color: #fff;

}
